.header-container {
  margin: 0px 50px;
}
.header-image {
  height: auto;
  width: 100%;
  object-fit: contain;

  z-index: -1 !important;
}
.profile-pic {
  top: -40px;
}
.border {
  border: 5px solid white !important;
}
.name {
  padding: 0px 0px !important;
}
.text-black-50 {
  color: black;
}
.editbutton {
  padding-top: 100px;
}

@media screen and (max-width: 964px) {
  .header-container {
    margin: 0px 0px;
    width: fit-content;
  }
  .name {
    padding: 0px 0px !important;
    text-align: center;
    top: -10px;
  }
}
